<footer>
  <div id="logo-han">
    <a href="http://www.han.nl/gebied/informatica-media-communicatie/">
      <img src="/images/logo-han.png" alt="Logo Hogeschool Arnhem en Nijmegen">
    </a>
  </div>
  <div class="links">
    <a href="about.html#about-us">About us</a> -
    <a href="about.html#licensing">Licensing</a> -
    <a href="about.html#contact-info">Contact info</a> -
    <a href="about.html#get-the-pack">Get the pack</a>
  </div>
  <div id="logo-hva">
    <a href="https://www.cmd-amsterdam.nl/">
      <img src="/images/logo-hva.svg" alt="Logo Hogeschool van Amsterdam">
    </a>
  </div>
</footer>

block scripts
  script(src="/javascripts/google-analytics.js")
  script(src="/javascripts/animate-category.js")
  script(src="/javascripts/favorites.js")
