footer
  div#logo-han
    a(href="http://www.han.nl/gebied/informatica-media-communicatie/")
      img(src="/images/logo-han.png" alt="Logo Hogeschool Arnhem en Nijmegen")
  div.links
    a(href="/about.html#about-us") About us
    span &nbsp; - &nbsp;
    a(href="/about.html#licensing") Licensing
    span &nbsp; - &nbsp;
    a(href="/about.html#contact-info") Contact info
    span &nbsp; - &nbsp;
    a(href="/about.html#get-the-pack") Get the pack
  div#logo-hva
    a(href="https://www.cmd-amsterdam.nl/")
      img(src="/images/logo-hva.svg" alt="Logo Hogeschool van Amsterdam")

script(src="/javascripts/google-analytics.js")
script(src="/javascripts/imagesloaded.pkgd.min.js")
script(src="/javascripts/masonry.pkgd.min.js")
script(src="/javascripts/favorites.js")
script(src="/javascripts/hamburger-menu.js")
script(src="/javascripts/grid-layout.js")
