
footer
  nav
    ul
      li.small-screen 
        a(href="/") Home
      li
        a(href="/about#about-us") About us
      li
        a(href="/about#licensing") Licensing
      li
        a(href="/about#contact-info") Contact info
      li
        a(href="/about#get-the-pack") Get the pack
      li
        a(href="/more-info") More info
      li.small-screen
        a(href="/cards/library/") Library methods
      li.small-screen
        a(href="/cards/field/") Field methods
      li.small-screen
        a(href="/cards/lab/") Lab methods
      li.small-screen
        a(href="/cards/showroom/") Showroom methods
      li.small-screen
        a(href="/cards/workshop/") Workshop methods
      li.small-screen
        a(href="/cards/stepping-stones/") Stepping stones
  div#logo-han
    a(href="http://www.han.nl/gebied/informatica-media-communicatie/")
      img(src="/images/logo-han.png" alt="Logo Hogeschool Arnhem en Nijmegen")
  div#logo-hva
    a(href="https://www.cmd-amsterdam.nl/")
      img(src="/images/logo-hva.svg" alt="Logo Hogeschool van Amsterdam")
  

script(src="/javascripts/google-analytics.js")
script(src="/javascripts/imagesloaded.pkgd.min.js")
script(src="/javascripts/isotope.pkgd.min.js")
script(src="/javascripts/favorites.js")
script(src="/javascripts/grid-layout.js")
