<section class="category-description home">
  <header>
    <div class="category-icon home"></div>
    <h1>CMD Methods Pack</h1>
  </header>
  <p>
    This pack supports your design research planning in any CMD project. Browse through the cards to find methods that suit your needs. Pick a combination of methods belonging to different research strategies to balance your research plan. You can use this card set in many ways. It is really up to you!
  </p>
  <a class="button" href="/">Shuffle cards again</a>
</section>
