doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CMD Methods Pack - find a combination of research methods that suit your needs
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,600,700", rel="stylesheet", type="text/css")
  body

    block header
      header
        div
          a(href="/")
            h1 CMD Methods Pack
          h2 Find a combination of research methods that suit your needs
            span#more-info  -
              a(href="more-info.html")  more info
        div.icon#favorites-icon
          a(href="/favorites")
            img(src="/images/icon-heart-filled.svg", id="icon-favorites", alt="go to favorites")
            | favorites
      div#favorites-number= 0
      div.icon#hamburger-icon
      div#hamburger-menu
        nav
          div.tab
            input(type="radio", id="tab-one", name="tab", checked="checked")
            label(for="tab-one") The Cards
            ul.tab-content
              li
                a(href="/")
                  img(src="../images/icon-home.svg", width="32" alt="go home")
                  | Home - all cards
              for cat in categories
                li
                  a(href="/category/"+cat)
                    <img src="../images/logo-#{cat}.png" width="32" alt="filter on #{cat} methods"> #{cat}
              li
                a(href="/favorites") My favorites
          div.tab
            input(type="radio", id="tab-two", name="tab")
            label(for="tab-two") About
            ul.tab-content
              li
                a(href="more-info.html") More info
              li
                a(href="about.html#about-us") About us
              li
                a(href="about.html#licensing") Licensing
              li
                a(href="about.html#contact-info") Contact info
              li
                a(href="about.html#get-the-pack") Get the pack

    block nav-categories
      nav.categories
        case category.strategy
          when 'home'
            a.active(href="/")
              img#home(src="../images/icon-home.svg", width="32" alt="go home")
          default
            a(href="/")
              img#home(src="../images/icon-home.svg", width="32" alt="go home")
        for cat in categories
          if cat == category.strategy
              a.active(href="/category/"+cat)
                img(src="../images/logo-"+cat+".png", width="32", alt="filter on " + cat + " methods")
          else
            a(href="/category/"+cat)
              img(src="../images/logo-"+cat+".png", width="32", alt="filter on " + cat + " methods")

    block popup
      div(class=['overlay','hidden'], id='overlay')
        div.modal-content
          span.button-close
          p.success The card was added to your favorites.
          p
            em#card-name
          br
          br
          p
            a(href="/favorites") Go to favorites


    block content

    include footer.pug
