doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CMD Methods Pack - find a combination of research methods that suit your needs
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", rel="stylesheet", type="text/css")
  body
  
    header
      div#logo-han
        a(href="http://www.han.nl/gebied/informatica-media-communicatie/")
          img(src="/images/logo-han.png", alt="Logo Hogeschool Arnhem en Nijmegen")
      a(href="/")
        h1 CMD Methods Pack
      h2 Find a combination of research methods that suit your needs - 
        a(href="more-info.html") more info
      div#logo-hva
        a(href="https://www.cmd-amsterdam.nl/")
          img(src="/images/logo-hva.svg", alt="Logo Hogeschool van Amsterdam")
    
    block content
    
    include footer.html
    
