doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title CMD Methods Pack - find a combination of research methods that suit your needs
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,600,700", rel="stylesheet", type="text/css")
  body

    block header
      header
        div
          a(href="/")
            h1 CMD Methods Pack
          h2 Find a combination of research methods that suit your needs -
            a(href="more-info.html") more info
        div.icon
          a(href="/favorites")
            img(src="/images/icon-heart-filled.svg", id="icon-favorites", alt="go to favorites")
            | favorites
      div#favorites-number= 0

    block nav-categories
      nav.categories
        case category.strategy
          when 'home'
            a.active(href="/")
              img#home(src="../images/icon-home.svg", width="32" alt="go home")
          default
            a(href="/")
              img#home(src="../images/icon-home.svg", width="32" alt="go home")
        for cat in categories
          if cat == category.strategy
              a.active(href="/"+cat)
                img(src="../images/logo-"+cat+".png", width="32", alt="filter on " + cat + " methods")
          else
            a(href="/"+cat)
              img(src="../images/logo-"+cat+".png", width="32", alt="filter on " + cat + " methods")

    block content

    include footer.pug
