/* =============================================================================
    author: Sonja Rouwhorst
    date: nov 2017
   =========================================================================== */

/* =============================================================================
    GENERAL
   =========================================================================== */
/*
    Changing to box-sizing border-box, thanks to
    https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
     box-sizing: border-box;
}
*, *:before, *:after {
     box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background: #f1f1f1;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 32px;
    font-weight: 300;
}
h2 {
    font-size: 14px;
    margin-bottom: 4px;
}
p {
    margin-bottom: 1rem;
    line-height: 1.2rem;
}
ol, ul, dl {
    padding-left: 18px;
}
a {
    text-decoration: none;
    color: black;
}
strong {
    font-weight: bold;
    font-size: 1.1em;
}
em {
    font-style: italic;
}
address {
    display: inline;
}
iframe, img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.float-left {
    float: left;
    margin-right: 10px;
}
.float-right {
    float: right;
    margin-left: 10px;
}
.button {
    font-size: 12px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: .3rem;
    border-radius: 15px;
}
.icon a {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
}
.hidden {
    display: none;
}


/* =============================================================================
    COLORS
   =========================================================================== */

.home {
    background: #CCC;
}
.library, .library h1, .library h2, .library h3, .library aside, .library .sliders {
    color: #A8CE3B;
}
.field, .field h1, .field h2, .field h3, .field aside, .field .sliders {
    color: #52C3C4;
}
.lab, .lab h1, .lab h2, .lab h3, .lab aside, .lab .sliders {
    color: #797DBC;
}
.showroom, .showroom h1, .showroom h2, .showroom h3, .showroom aside, .showroom .sliders {
    color: #FFD11D;
}
.workshop, .workshop h1, .workshop h2, .workshop h3, .workshop aside, .workshop .sliders {
    color: #25BFED;
}
.stepping-stones, .stepping-stones h1, .stepping-stones h2, .stepping-stones h3, .stepping-stones aside {
    color: #EF4E8C;
}
.home .button {
    background: #96C8EA;
    color: black;
}
.library .button {
    border: 1px solid #A8CE3B;
    color: #A8CE3B;
}
.library .button.call-to-action, .category-description.library {
    background: #A8CE3B;
    color: white;
}
.field .button {
    border: 1px solid #52C3C4;
    color: #52C3C4;
}
.field .button.call-to-action, .category-description.field {
    background: #52C3C4;
    color: white;
}
.lab .button {
    border: 1px solid #797DBC;
    color: #797DBC;
}
.lab .button.call-to-action, .category-description.lab {
    background: #797DBC;
    color: white;
}
.showroom .button {
    border: 1px solid #FFD11D;
    color: #FFD11D;
}
.showroom .button.call-to-action, .category-description.showroom {
    background: #FFD11D;
    color: white;
}
.workshop .button {
    border: 1px solid #25BFED;
    color: #25BFED;
}
.workshop .button.call-to-action, .category-description.workshop {
    background: #25BFED;
    color: white;
}
.stepping-stones .button {
    border: 1px solid #EF4E8C;
    color: #EF4E8C;
}
.stepping-stones .button.call-to-action, .category-description.stepping-stones {
    background: #EF4E8C;
    color: white;
}
/* =============================================================================
    HEADER
   =========================================================================== */
body>header {
    background: #C5DAEB;
    margin-bottom: 10px;
    padding: 10px 16px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
    body>header h1 {
        color: black;
        display: inline;
        font-size: 32px;
        font-weight: 700;
        line-height: 46px;
        margin: 0;
        text-transform: uppercase;
    }
    body>header>h2 a {
        text-decoration: underline;
    }
    body>header a:hover {
        text-decoration: none;
    }
    body>header h2 {
        display: inline;
        font-size: 15px;
        font-weight: 300;
        padding-left: 16px;
        margin: 0;
    }
    body>header h2 a:hover {
        text-decoration: underline;
    }
    body>header img {
      height: 35px;
      margin-bottom: 0;
    }
    #favorites-number {
      position: absolute;
      top: 10px;
      right:16px;
      background: #419BD9;
      border-radius: 50%;
      font-size: 10px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      color: white;
    }

/* =============================================================================
    CATEGORIES NAV
   =========================================================================== */
.categories {
    align-items: flex-start;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 10px auto;
    height: 60px;
    min-width: 275px;
    max-width: 375px;
}
    .categories a{
        min-width: 45px;
    }
    .categories a:not(.active):hover {
        transform: scale(1.1);
    }
    .categories img {
        cursor: pointer;
        margin: 0 5px;
        -webkit-transition: transform .5s;
                transition: transform .5s;
    }
    .current-category {
        width: 45px;
    }
    .growAnim img {
        transform: scale(1.6);
    }
/* =============================================================================
    OVERVIEW
   =========================================================================== */

.overview {
  column-width: 275px;
  column-gap: 14px;

}
    .overview h1 {
      column-span: all;
      font-family: "Open Sans Condensed";
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    @media (max-width: 1740px) {
        .overview {
            max-width: 1452px;
            margin: auto;
        }
    }
    @media (max-width: 1450px) {
        .overview {
            max-width: 1162px;
            margin: auto;
        }
    }
    @media (max-width: 1160px) {
        .overview {
            max-width: 872px;
            margin: auto;
        }
    }
    @media (max-width: 870px) {
        .overview {
            max-width: 582px;
            margin: auto;
        }
    }
    @media (max-width: 580px) {
        .overview {
            max-width: 292px;
            margin: auto;
        }
    }

/* =============================================================================
    CATEGORY DESCRIPTION
   =========================================================================== */

.category-description {
    width: 275px;
    border-radius: 15px;
    margin: 16px 0;
    padding: 16px;
    -webkit-column-break-inside: avoid-column;
                   break-inside: avoid-column;
}
    .category-description:first-child {
        margin-top: 0;
    }
    .category-description header {
      display: flex;
      align-items: flex-start;
    }
    .category-description h1 {
        color: white;
        margin-bottom: 1rem;
    }
    .category-description p {
        margin-bottom: 1rem;
    }
    .category-description .button {
      width: 100%;
      padding: .5rem;
    }

/* =============================================================================
    CARD
   =========================================================================== */

.card {
    background: white;
    width: 275px;
    height: 570px;
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 15px;
    margin: 16px 0;
    padding: 16px;
    position: relative;
    -webkit-column-break-inside: avoid-column;
                   break-inside: avoid-column;
}
    .card:hover {
      box-shadow: 2px 2px 4px #aaa;
      background: #fdfdfd;
    }
    .overview .card:first-of-type{
        margin-top: 0;
    }
    .card img {
        margin-left: -1rem;
    }
    .card header {
      display: flex;
      align-items: flex-start;
    }
    .card h1 {
      width: 230px;
    }
    .card .button-box {
      display: flex;
      justify-content: space-between;
    }
    .card .button {
      width: 47%;
    }
    .cardcontent {
      position: absolute;
      bottom:24px;
      left: 16px;
      right: 16px;
    }
    .category-icon {
        width: 32px;
        height: 32px;
        margin: 6px 16px 0 0 ;
    }
    .category-icon.home {
        background: url(../images/icon-home.svg) no-repeat;
        background-size: contain;
    }
    .category-icon.library {
        background: url(../images/logo-library.png) no-repeat;
        background-size: contain;
    }
    .category-icon.lab {
        background: url(../images/logo-lab.png) no-repeat;
        background-size: contain;
    }
    .category-icon.showroom {
        background: url(../images/logo-showroom.png) no-repeat;
        background-size: contain;
    }
    .category-icon.workshop {
        background: url(../images/logo-workshop.png) no-repeat;
        background-size: contain;
    }
    .category-icon.field {
        background: url(../images/logo-field.png) no-repeat;
        background-size: contain;
    }
    .category-icon.stepping-stones {
        background: url(../images/logo-stepping-stones.png) no-repeat;
        background-size: contain;
    }


/* =============================================================================
    CARD DETAILS PAGE
   =========================================================================== */

.card-details {
    min-width: 275px;
    max-width: 650px;
    background: white;
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 15px;
    margin: 10px auto 32px auto;
    padding: 16px;
}
.card-details header {
    display: flex;
    align-items: flex-start;
}
.card-details h2 {
    margin-bottom: .2rem;
}
.card-details p, ul, ol, dl {
    color: black;
    margin-bottom: 1rem;
}
.card-details img {
    display: block;
    max-width: 320px;
    margin: auto;
}

/* =============================================================================
    EXPLANATION CARD
   =========================================================================== */
.explanation section {
    margin: 30px 0;
}
.explanation img {
    float: left;
    margin-right: 10px;
}
.explanation h1 {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
}
.explanation h1:after {
    content: " - ";
}
.explanation p {
    display: inline;
}
.explanation aside {
    font-style: italic;
    margin-top: 5px;
}

/* =============================================================================
    SLIDERS
   =========================================================================== */

.sliders {
    margin: 2rem 0;
    text-align: center;
}
.sliders label {
    display: inline-block;
    text-align: left;
    min-width: 6em;
    max-width:9em;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
}
.sliders input {
    display: inline-block;
}
.sliders label:first-child {
    text-align: right;
}
input[type=range]{
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    min-width: 110px;
    width: 50%;
}
input[type=range]::-moz-range-track {
    background: #bbb;
    border: none;
    height: 2px;
    min-width: 110px;
    width: 50%;
}
input[type=range]::-moz-range-thumb {
    background: black;
    border: none;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #bbb;
    border: none;
    height: 2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    border: none;
    border-radius: 50%;
    height: 8px;
    margin-top: -3px;
    width: 8px;
}
input[type=range]::-ms-track {
    background: #bbb;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 3px 0;
    /*remove default tick marks*/
    color: transparent;
    height: 2px;
    min-width: 110px;
    width: 50%;
}
input[type=range]::-ms-thumb {
    background: black;
    border: none;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}

/* =============================================================================
    PREV NEXT ARROWS
   =========================================================================== */

.previous, .next{
    filter: alpha(opacity=60);
    opacity: 0.6;
    position: fixed;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: #C5DAEB;
    background: hsla(206, 16%, 92%, 1);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.previous {
    left: 10px;
}
.next {
    right: 10px;
}
.previous svg, .next svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}
.previous:hover, .next:hover {
  background: hsla(206,40%,72%,1);
}
/* =============================================================================
    ARTICLE
   =========================================================================== */

article {
    line-height: 2rem;
    margin: auto;
    max-width: 60rem;
    padding: 3rem 1rem;
}
article header {
    font-size: 12px;
    margin-bottom: 40px;
}
article h1 {
    font-size: 28px;
    margin: 10px 0;
}
article h2 {
    color: #25BFED;
    font-size: 18px;
    font-weight: 700;
    margin: 2.5rem 0 0.5rem 0;
}
article h3 {
    clear: both;
    font-weight: 700;
    margin: 1.5rem 0 .5rem 0;
}
article dt {
    font-weight: 700;
}
article img {
    max-height: 80vh;
    max-width: 100%;
}
article .logo {
    width: 60px;
}
article aside {
    border: 2px solid;
    border-radius: 15px;
    min-width: 100px;
    padding: 10px;
    width: 25%;
}
@media (max-width: 480px) {
    body>header h1 {
        font-size: 24px;
    }

    body>header h2 {
        font-size: 12px;
    }

    #logo-han, #logo-hva {
        display:none;
    }

}
@media (max-width: 320px) {
    .gallery-cell {
        border: none;
    }
}


/* =============================================================================
    FOOTER
   =========================================================================== */
body > footer {
    background: #C5DAEB;
    font-size: 12px;
    margin-top: 10px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body > footer a {
    text-decoration: underline;
}
body > footer .links {
    text-align: center;
}
#logo-han img {
    width: 60px;
}
#logo-hva img {
    width: 80px;
}
