/* =============================================================================
    author: Sonja Rouwhorst
    date: march 2016
   =========================================================================== */

/* =============================================================================
    CSS RESET
   =========================================================================== */
/*
   CSS reset based on the one by Eric Meyer
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; }
    /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* =============================================================================
    GENERAL
   =========================================================================== */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background: #eee;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 32px;
    font-weight: 300;
}
h2 {
    font-size: 14px;
}
p {
     margin-bottom: 1rem;
}
ol, ul, dl {
    padding-left: 18px;
}
a {
    text-decoration: none;
    color: black;
}
strong {
    font-weight: bold;
    font-size: 1.1em;
}
em {
    font-style: italic;
}
address {
    display: inline;
}
.float-left {
    float: left;
    margin-right: 10px;
}
.float-right {
    float: right;
    margin-left: 10px;
}
.button {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: center;
    width: 49%;
    padding: .2rem;
    border-radius: 15px;
}

/* =============================================================================
    COLORS
   =========================================================================== */

.library h1, .library h2, .library h3, .library aside, .library .sliders {
    color: #A8CE3B;
}
.field h1, .field h2, .field h3, .field aside, .field .sliders {
    color: #52C3C4;
}
.lab h1, .lab h2, .lab h3, .lab aside, .lab .sliders {
    color: #797DBC;
}
.showroom h1, .showroom h2, .showroom h3, .showroom aside, .showroom .sliders {
    color: #FFD11D;
}
.workshop h1, .workshop h2, .workshop h3, .workshop aside, .workshop .sliders {
    color: #25BFED;
}
.stepping-stone h1, .stepping-stone h2, .stepping-stone h3, .stepping-stone aside {
    color: #EF4E8C;
}
.library .button {
    border: 1px solid #A8CE3B;
    color: #A8CE3B;
}
.library .button.call-to-action, .category-description.library {
    background: #A8CE3B;
    color: white;
}
.field .button {
    border: 1px solid #52C3C4;
    color: #52C3C4;
}
.field .button.call-to-action, .category-description.field {
    background: #52C3C4;
    color: white;
}
.lab .button {
    border: 1px solid #797DBC;
    color: #797DBC;
}
.lab .button.call-to-action, .category-description.lab {
    background: #797DBC;
    color: white;
}
.showroom .button {
    border: 1px solid #FFD11D;
    color: #FFD11D;
}
.showroom .button.call-to-action, .category-description.showroom {
    background: #FFD11D;
    color: white;
}
.workshop .button {
    border: 1px solid #25BFED;
    color: #25BFED;
}
.workshop .button.call-to-action, .category-description.workshop {
    background: #25BFED;
    color: white;
}
.stepping-stone .button {
    border: 1px solid #EF4E8C;
    color: #EF4E8C;
}
.stepping-stone .button.call-to-action, .category-description.stepping-stone {
    background: #EF4E8C;
    color: white;
}
/* =============================================================================
    HEADER
   =========================================================================== */
body>header {
    background: #ddd;
    line-height: 1;
    margin-bottom: 10px;
    padding-bottom:10px;
    text-align: center;
}
    body>header h1 {
        color: black;
        font-size: 32px;
        font-weight: 700;
        line-height: 46px;
        margin: 0;
        text-transform: uppercase;
    }
    body>header a {
        color: hsl(206, 40%, 50%);
    }
    body>header a:hover {
        text-decoration: none;
    }
    body>header h2 {
        font-size: 15px;
        font-weight: 300;
        margin: 0;
    }
    body>header h2 a:hover {
        text-decoration: underline;
    }
#logo-han {
    left: 10px;
    position: absolute;
    top: 25px;
}
#logo-han img {
    width: 60px;
}
#logo-hva {
    position: absolute;
    right: 10px;
    top: 15px;
}
#logo-hva img {
    width: 80px;
}

/* =============================================================================
    CATEGORIES NAV
   =========================================================================== */
.categories {
    align-items: flex-start;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 10px auto;
    width: 325px;
}

    .categories img {
        cursor: pointer;
        margin: 0 5px;
        -webkit-transition: width .5s; /* Safari 3.1 to 6.0 */
        transition: width .5s;
    }

    .current-category {
        width: 45px;
    }

/* =============================================================================
    OVERVIEW 
   =========================================================================== */

.overview {
    column-width: 275px;
    column-gap: 14px;
}
    @media (max-width: 1740px) {
        .overview {
            max-width: 1452px;
            margin: auto;
        }
    }
    @media (max-width: 1450px) {
        .overview {
            max-width: 1162px;
            margin: auto;
        }
    }
    @media (max-width: 1160px) {
        .overview {
            max-width: 872px;
            margin: auto;
        }
    }
    @media (max-width: 870px) {
        .overview {
            max-width: 582px;
            margin: auto;
        }
    }
    @media (max-width: 580px) {
        .overview {
            max-width: 292px;
            margin: auto;
        }
    }

/* =============================================================================
    CATEGORY DESCRIPTION
   =========================================================================== */

.category-description {
    width: 275px;
    border-radius: 15px;
    margin: 16px 0;
    padding: 16px;
    -webkit-column-break-inside: avoid-column;
              page-break-inside: avoid-column;
                   break-inside: avoid-column;
}
    .category-description:first-child {
        margin-top: 0;
    }
    .category-description h1 {
        color: white;
    }

/* =============================================================================
    CARD 
   =========================================================================== */

.card {
    background: white;
    width: 275px;
/*    border: 1px solid black;*/
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 15px;
    margin: 16px 0;
    padding: 16px;
    -webkit-column-break-inside: avoid-column;
              page-break-inside: avoid-column;
                   break-inside: avoid-column;
}
    .card:first-child {
        margin-top: 0;
    }
    .card img {
        margin-left: -1rem;
    }

.category-icon {
    float: left;
    width: 32px;
    height: 32px;
    margin: 6px 16px 0 0 ;
}
    .category-icon.library {
        background: url(../images/logo-lib.png) no-repeat;
        background-size: contain;
    }
    .ccategory-icon.lab {
        background: url(../images/logo-lab.png) no-repeat;
        background-size: contain;
    }
    .category-icon.showroom {
        background: url(../images/logo-show.png) no-repeat;
        background-size: contain;
    }
    .category-icon.workshop {
        background: url(../images/logo-work.png) no-repeat;
        background-size: contain;
    }
    .category-icon.field {
        background: url(../images/logo-field.png) no-repeat;
        background-size: contain;
    }
    .category-icon.stepping-stone {
        background: url(../images/logo-step.png) no-repeat;
        background-size: contain;
    }


/* =============================================================================
    CARD DETAILS PAGE
   =========================================================================== */

.card-details {
    min-width: 336px;
    max-width: 640px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 14px;
    padding: 16px;
}

.card-details h2 {
    margin-bottom: .2rem;
}

.card-details p, ul, ol, dl {
    margin-bottom: 1rem;
}

.card-details img {
    display: block;
    max-width: 320px;
    margin: auto;
}



/* =============================================================================
    EXPLANATION CARD
   =========================================================================== */
.explanation section {
    margin: 30px 0;
}
.explanation img {
    float: left;
    margin-right: 10px;
}
.explanation h1 {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
}
.explanation h1:after {
    content: " - ";
}
.explanation p {
    display: inline;
}
.explanation aside {
    font-style: italic;
    margin-top: 5px;
}

/* =============================================================================
    SLIDERS
   =========================================================================== */

.sliders {
    text-align: center;
}
.sliders label {
    display: inline-block;
    text-align: left;
    width: 6em;
}
.sliders input {
    display: inline-block;
}
.sliders label:first-child {
    text-align: right;
}
input[type=range]{
    -webkit-appearance: none;
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 110px;
}
input[type=range]::-moz-range-track {
    background: #bbb;
    border: none;
    height: 2px;
    width: 110px;
}
input[type=range]::-moz-range-thumb {
    background: black;
    border: none;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #bbb;
    border: none;
    height: 2px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    border: none;
    border-radius: 50%;
    height: 8px;
    margin-top: -3px;
    width: 8px;
}
input[type=range]::-ms-track {
    background: #bbb;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 3px 0;
    /*remove default tick marks*/
    color: transparent;
    height: 2px;
    width: 110px;
}
input[type=range]::-ms-thumb {
    background: black;
    border: none;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}


/* =============================================================================
    ARTICLE
   =========================================================================== */

article {
    line-height: 2rem;
    margin: auto;
    max-width: 60rem;
    padding: 3rem 1rem;
}
article header {
    font-size: 12px;
    margin-bottom: 40px;
}
article h1 {
    font-size: 28px;
    margin: 10px 0;
}
article h2 {
    color: #C5DAEB;
    color: hsl(206, 40%, 50%);
    font-size: 18px;
    font-weight: 700;
    margin: 2.5rem 0 0.5rem 0;
}
article h3 {
    clear: both;
    font-weight: 700;
    margin: 1.5rem 0 .5rem 0;
}
article dt {
    font-weight: 700;
}
article img {
    max-height: 80vh;
    max-width: 100%;
}
article .logo {
    width: 60px;
}
article aside {
    border: 2px solid;
    border-radius: 15px;
    min-width: 100px;
    padding: 10px;
    width: 25%;
}
@media (max-width: 480px) {
    body>header h1 {
        font-size: 24px;
    }

    body>header h2 {
        font-size: 12px;
    }

    #logo-han, #logo-hva {
        display:none;
    }

}
@media (max-width: 320px) {
    .gallery-cell {
        border: none;
    }
}


/* =============================================================================
    FOOTER
   =========================================================================== */
body>footer {
    background: #ddd;
    font-size: 12px;
    line-height: 2rem;
    margin-top: 10px;
    padding:10px;
    text-align: center;
}


