/* =============================================================================
    author: Sonja Rouwhorst
   =========================================================================== */

/* =============================================================================
    GENERAL
   =========================================================================== */
html {
  /* height: 100%; */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #f1f1f1;
  margin: 0;
  /* min-height: 100%; */
  /* display: grid; */
  /* grid-template-rows: auto auto 1fr auto; */
}

main {
  padding: 1rem;
  z-index: 1;
  min-height: calc(100vh - 265px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

ol, ul, dl {
  padding-left: 1.5rem;
}

strong {
  font-weight: bold;
  font-size: 1.1em;
}

em {
  font-style: italic;
}

address {
  display: inline;
}

iframe, img {
  max-width: 100%;
}

.indent {
  display: block;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

.float-right {
  float: right;
  margin-left: 1rem;
}

.button {
  font-size: .8rem;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.3rem;
  border-radius: .7rem;
}

.icon a {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  align-items: center;
}

.hidden {
  display: none;
  line-height: 0;
}

/* =============================================================================
    COLORS
   =========================================================================== */

a {
  color: #4d86b3;
}

.home {
  background: #ddd;
}

.white {
  background: white;
}

.library, .library h1, .library h2, .library h3, .library aside, .library .sliders {
  color: #a8ce3b;
}

.field, .field h1, .field h2, .field h3, .field aside, .field .sliders {
  color: #52c3c4;
}

.lab, .lab h1, .lab h2, .lab h3, .lab aside, .lab .sliders {
  color: #797dbc;
}

.showroom, .showroom h1, .showroom h2, .showroom h3, .showroom aside, .showroom .sliders {
  color: #ffd11d;
}

.workshop, .workshop h1, .workshop h2, .workshop h3, .workshop aside, .workshop .sliders {
  color: #25bfed;
}

.stepping-stones, .stepping-stones h1, .stepping-stones h2, .stepping-stones h3, .stepping-stones aside {
  color: #ef4e8c;
}

.home .button, .home button {
  background: #96c8ea;
  color: black;
}

.library .button {
  border: 1px solid #a8ce3b;
  color: #a8ce3b;
}

.library .button.call-to-action, .category-description.library {
  background: #a8ce3b;
  color: white;
}

.field .button {
  border: 1px solid #52c3c4;
  color: #52c3c4;
}

.field .button.call-to-action, .category-description.field {
  background: #52c3c4;
  color: white;
}

.lab .button {
  border: 1px solid #797dbc;
  color: #797dbc;
}

.lab .button.call-to-action, .category-description.lab {
  background: #797dbc;
  color: white;
}

.showroom .button {
  border: 1px solid #ffd11d;
  color: #ffd11d;
}

.showroom .button.call-to-action, .category-description.showroom {
  background: #ffd11d;
  color: white;
}

.workshop .button {
  border: 1px solid #25bfed;
  color: #25bfed;
}

.workshop .button.call-to-action, .category-description.workshop {
  background: #25bfed;
  color: white;
}

.stepping-stones .button {
  border: 1px solid #ef4e8c;
  color: #ef4e8c;
}

.stepping-stones .button.call-to-action, .category-description.stepping-stones {
  background: #ef4e8c;
  color: white;
}

/* =============================================================================
    HEADER
   =========================================================================== */

body>header {
  background: #c5daeb;
  margin-bottom: 1rem;
  padding: .7rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body>header h1 {
  color: black;
  display: inline;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

body>header a {
  text-decoration: none;
}

body>header h2 a:hover {
  text-decoration: underline;
}

body>header h2 {
  display: inline;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 1rem;
  margin: 0;
}

body>header img {
  height: 35px;
  margin-bottom: 0;
}

#favorites-icon a {
  background-image: url('/images/icon-heart-filled.svg');
  background-size: 2.4rem;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 2.4rem;
}

#favorites-number {
  position: fixed;
  top: .7rem;
  right: 1rem;
  z-index: 3;
  background: #419bd9;
  border-radius: 50%;
  font-size: .7rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: white;
}

#flying-heart {
  position: fixed;
  z-index: 4;
}

@media (max-width: 740px) {
  body>header h2 {
    display: block;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  body>header {
    position: static;
  }
  #favorites-icon {
    position: fixed;
    top: 70px;
    right: 1rem;
    z-index: 1;
  }
  #favorites-icon a {
    background-image: url('../images/icon-heart-filled_blue.svg');
    color: #c5daeb;
    font-weight: bolder;
  }
  #favorites-number {
    top: 70px;
    background-color: white;
    color: #c5daeb;
  }
  body>header h2 {
    display: none;
  }
}

/* =============================================================================
    CATEGORIES NAV
   =========================================================================== */

.categories {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 1rem auto;
  height: 4rem;
  max-width: 375px;
}

.categories button {
  background: none;
  border: 0;
  padding: 0;
  width: 2rem;
}

.categories button:not(.active), .categories a:not(.active) {
  transform: scale(1.0);
  transition: transform .2s cubic-bezier(0.370, -0.305, 0.740, 1.205);
}

.categories button:not(.active):hover, .categories button:focus, .categories a:not(.active):hover, .categories a:focus {
  transform: scale(1.2);
  outline: none;
}

.categories img {
  cursor: pointer;
}

.current-category {
  width: 3rem;
}

.active img {
  animation-name: grow;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0.370, -0.305, 0.740, 1.205);
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.6);
  }
}

@media (max-width: 480px) {
  .categories {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background: #f1f1f1;
  }
}

/* =============================================================================
    GRID
   =========================================================================== */

.grid {
  margin: auto;
  padding-bottom: 3rem;
  max-width: 1433px;
}

.grid-item {
  width: 275px;
}

.grid-item-full-width {
  width: 100%;
}

@media (max-width: 1450px) {
  .grid {
    max-width: 1144px;
  }
}

@media (max-width: 1160px) {
  .grid {
    max-width: 855px;
  }
}

@media (max-width: 870px) {
  .grid {
    max-width: 566px;
  }
}

@media (max-width: 580px) {
  .grid {
    max-width: 277px;
  }
}

@media (max-width: 320px) {
  .gallery-cell {
    border: none;
  }
}

/* =============================================================================
    CATEGORY DESCRIPTION
   =========================================================================== */

.category-description {
  width: 275px;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.category-description:first-child {
  margin-top: 0;
}

.category-description header {
  display: flex;
  align-items: flex-start;
}

.category-description h1 {
  color: white;
  margin-bottom: 1rem;
}

.category-description p {
  margin-bottom: 1rem;
}

.category-description button {
  font-size: .8rem;
  font-family: inherit;
  border: 0;
  width: 100%;
  padding: .5rem;
  border-radius: .8rem;
  color: white;
}
.category-description button + button {
  margin-top: .5rem;
}

.category-description .button {
  width: 100%;
  padding: 0.5rem;
}

/* =============================================================================
    CARD
   =========================================================================== */

.card {
  background: white;
  width: 275px;
  height: 570px;
  filter: drop-shadow(2px 2px 4px #ccc);
  border-radius: 1rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  position: relative;
}

.card:hover {
  filter: drop-shadow(2px 2px 4px #aaa);
  background: #fdfdfd;
}

.overview .card:first-of-type {
  margin-top: 0;
}

.card a {
  color: black;
  text-decoration: none;
}

.card img {
  margin-left: -1rem;
}

.card header {
  display: flex;
  align-items: flex-start;
}

.card h1 {
  width: 230px;
}

.card .button-box {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.card .button {
  width: 47%;
}

.cardcontent {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  right: 1rem;
}

.category-icon {
  width: 32px;
  height: 32px;
  margin: .4rem 1rem 0 0;
}

.category-icon.home {
  background: url(../images/icon-home.svg) no-repeat;
  background-size: contain;
}

.category-icon.library {
  background: url(../images/logo-library.png) no-repeat;
  background-size: contain;
}

.category-icon.lab {
  background: url(../images/logo-lab.png) no-repeat;
  background-size: contain;
}

.category-icon.showroom {
  background: url(../images/logo-showroom.png) no-repeat;
  background-size: contain;
}

.category-icon.workshop {
  background: url(../images/logo-workshop.png) no-repeat;
  background-size: contain;
}

.category-icon.field {
  background: url(../images/logo-field.png) no-repeat;
  background-size: contain;
}

.category-icon.stepping-stones {
  background: url(../images/logo-stepping-stones.png) no-repeat;
  background-size: contain;
}


/* =============================================================================
    CARD DETAILS PAGE
   =========================================================================== */

.card-details {
  width: 90%;
  max-width: 40em;
  background: white;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 1rem;
  margin: 1rem auto 2rem auto;
  padding: 1rem;
}

.card-details header {
  display: flex;
  align-items: flex-start;
}

.card-details h2 {
  margin-bottom: 0.2rem;
}

.card-details p, ul, ol, dl {
  color: black;
  margin-bottom: 1rem;
}

.card-details img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.card-details .button {
  width: 100%;
  text-decoration: none;
}

/* =============================================================================
    SLIDERS
   =========================================================================== */

.sliders {
  margin: 2rem 0;
  text-align: center;
}

.sliders>div {
  display: flex;
  justify-content: space-between;
}

.sliders label {
  flex-grow: 1;
  flex-basis: 6em;
  margin: 0 0.5em;
  text-align: left;
  font-weight: 600;
  font-family: "Open Sans Condensed", sans-serif;
}

.sliders input {
  flex-grow: 2;
}

.sliders label:first-child {
  text-align: right;
}

input[type="range"] {
  -webkit-appearance: none;
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;
}

input[type="range"]::-moz-range-track {
  background: #bbb;
  border: none;
  height: 2px;
}

input[type="range"]::-moz-range-thumb {
  background: black;
  border: none;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #bbb;
  border: none;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  border: none;
  border-radius: 50%;
  height: 8px;
  margin-top: -3px;
  width: 8px;
}

input[type="range"]::-ms-track {
  background: #bbb;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 3px 0;
  /*remove default tick marks*/
  color: transparent;
  height: 2px;
}

input[type="range"]::-ms-thumb {
  background: black;
  border: none;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

/* =============================================================================
    PREV NEXT ARROWS
   =========================================================================== */

.previous, .next {
  filter: alpha(opacity=60);
  opacity: 0.6;
  position: fixed;
  top: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background: #c5daeb;
  background: hsla(206, 16%, 92%, 1);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.previous {
  left: .7rem;
}

.next {
  right: .7rem;
}

.previous svg, .next svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.previous:hover, .next:hover {
  background: hsla(206, 40%, 72%, 1);
}

/* =============================================================================
    ARTICLE
   =========================================================================== */

article {
  margin: 10rem auto;
  max-width: 40rem;
  /* padding: 3rem 1rem; */
}

article p, li {
  line-height: 1.5rem;
}

article header {
  font-size: .8rem;
  margin-bottom: 2rem;
}

article h1 {
  font-size: 2rem;
  margin: .5rem 0;
}

article h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 2.5rem 0 0.5rem 0;
}

article h3 {
  clear: both;
  font-size: 1rem;
  font-weight: 700;
  margin: 1.5rem 0 0.5rem 0;
}

article dt {
  font-weight: 700;
}

article img {
  max-height: 80vh;
  max-width: 100%;
}

article dt {
  font-weight: 300;
}

article .logo {
  width: 60px;
}

article aside {
  border: 2px solid;
  border-radius: 1rem;
  min-width: 100px;
  padding:.7rem;
  width: 25%;
}

article a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}


/* =============================================================================
    FOOTER
   =========================================================================== */

body>footer {
  background: #c5daeb;
  font-size: .8rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

body>footer nav {
  order: 2;
  text-align: center;
}
body>footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
body>footer li {
  padding: 0 3px;

}
body>footer li:not(.small-screen)+li::before {
  content: "- ";
}
.small-screen {
  display: none;
}
#logo-han {
  order: 1;
  width: 60px;
  padding-top: 14px;
}

#logo-hva {
  order: 3;
  width: 80px;
  padding-top: 10px;
}

@media (max-width: 620px) {
  body>footer {
    flex-wrap: wrap;
  }
  body>footer nav {
    order: 1;
    width: 100vw;
    margin-bottom: 1rem;
  }
  body>footer ul {
    height: 10rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
  }
  body>footer li {
  }
  body>footer li:not(.small-screen)+li::before {
    content: "";
  }
  .small-screen {
    display: block;
  }
  #logo-han {
    order: 2;
    width: 40px;
    padding-top: 9px;
  }
  #logo-hva {
    order: 3;
    width: 53px;
    padding-top: 7px;
  }
}
